

/*Classes*/

  /*Centering Images*/
  .center 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /*Making sure the nav bar is formatted correctly*/
  .navbar
  {
    position:fixed;
    bottom:  0;
    background-color: rgb(196, 129, 29);
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
    border: 1px solid rgb(96, 18, 223)
  }
  /*Making sure the navigation items are formatted properly*/
  .navitems
  {
    border-right: 8px solid rgb(114, 114, 19);
    border-left: 8px solid rgb(114, 114, 19);
    display: inline;
    font-size: larger;
  }


  
  /* Fixes size of logo images in the navigation area*/
  .logoimages
  {
    width: 30px;
    height:30px;
    center: 0;

  }

