/*Classes*/

  /*Centering Images*/
  .center 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /*Making sure the nav bar is formatted correctly*/
  .navbar
  {
    padding: 5px;
    border: 10px;
    align-items: center;
    background-color: aqua;

  }
  
  /* Fixes size of logo images in the navigation area*/
  .logoimages
  {
    width: 20px;
    height:20px;
  }

  .navitems
  {
    width: 60px;
  }

  
  /*Navigation*/

/*General*/
body * {
    font-family: "Times New Roman", sans-serif; 
  }
  
  html
  {
    background: rgba(0, 0, 0, 0.75) ;
  }
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  h1
   {
    font-weight: bold; color: #daa618; 
    font-family: "Times", ;
  }
  
  li {
  width: 50px;
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  background-color: #17a113;
  }
  
  