

/*Classes*/

  /*Centering Images*/
  .center 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /*Making sure the nav bar is formatted correctly*/
  .navbar
  {
    position:fixed;
    display: flex;
    bottom:  0;
    background-color: rgb(196, 129, 29);
    width: 100%;
    font-size: 18px;
    border: 1px solid rgb(96, 18, 223);
    align-items: center;
  }

  /*For the links in the navbar*/
  .navbar a
  {
    color: rgb(13, 83, 52);
    text-decoration: none;
    display: block;
  }
  /*Changes background color when hovering over*/
  .navbar :hover
  {
    background-color: rgb(73, 6, 150);
    color: red;

  }
  /*Making sure the navigation items are formatted properly*/
  .navitems 
  {
 
    display: block;
    font-size: larger;
    padding-right: 8px;
    padding-left: 8px;
    position: center;
  }

  /*For headings and titles*/

  

  
  /* Fixes size of logo images in the navigation area*/
  .logoimages
  {
    width: 30px;
    height:30px;
    position: center;

  }

